<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  
   <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>myLogin</servlet-name>
  <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertServlet</servlet-name>
  	<display-name>InsertServlet</display-name>
  	<description></description>
  	<servlet-class>controller.InsertServlet</servlet-class>
  </servlet>
     
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteServlet</display-name>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RequestController</display-name>
  	<servlet-name>RequestController</servlet-name>
  	<servlet-class>controller.RequestController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddtalkController</display-name>
  	<servlet-name>AddtalkController</servlet-name>
  	<servlet-class>controller.AddtalkController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteController</display-name>
  	<servlet-name>DeleteController</servlet-name>
  	<servlet-class>controller.DeleteController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateController</display-name>
  	<servlet-name>UpdateController</servlet-name>
  	<servlet-class>controller.UpdateController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>myLogin</servlet-name>
  <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertServlet</servlet-name>
  	<url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestController</servlet-name>
  	<url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddtalkController</servlet-name>
  	<url-pattern>/AddtalkController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteController</servlet-name>
  	<url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateController</servlet-name>
  	<url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  
  
</web-app>
